##############################################################################################
#                                                                                            #
#                            Common properties                                               #
#                                                                                            #
##############################################################################################

server.port = 8121
logging.file.name=/opt/skrylov/logs/skrylov.log


