<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="XY"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p th:text="'Привет, ' + ${title} + '!'"/>
<h1>Здесь можно сложить два числа, отвечающих следующим условиям:
    1. Принадлежит типу Integer (целые числа от от -2147483648 до + -2147483648);
    2. Принадлежат диапазон от 0 до 255.
</h1>

<form action="/x+y" method="post">
    <input type="text" name="X" placeholder="Введите число X">
    <input type="text" name="Y" placeholder="Введите число Y">
    <button type="submit" class="btn btn-success">Подтвердить</button>
</form>

<p th:text="'Результат сложения этих чисел: ' + ${result}"/>

</body>
</html>